@font-face {
    font-family:"mainfont";
    src: url("../font/LithosPro_Regular.otf");
}
@-webkit-keyframes albumsRotateEven {
    0%{
        opacity:0;
        left:100px;
    }
    50%{
        opacity:0.2;
        left:50px;
    }
    100%{
        opacity:1;
        left:0px;
    }
}
@-webkit-keyframes albumsRotateOdd {
    0%{
        opacity:0;
        left:100px;
        -webkit-transform:perspective(1000px) rotateY(60deg);
    }
    50%{
        opacity:0.2;
        left:50px;
        -webkit-transform:perspective(1000px) rotateY(30deg);
    }
    100%{
        opacity:1;
        left:0px;
        -webkit-transform:perspective(1000px) rotateY(0deg);
    }
}
body,nav,section,footer,h1,h2,h3,h4,h5,h6,span,p,video,audio,ul,li,table,a{
    padding: 0px;
    margin: 0px;
    font-family:"mainfont","微软雅黑";
    border:none;
    outline:none;
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9000;
    width: 100%;
    height:50px;
}
.main_nav{
    z-index: 9999;
    position:relative;
    display: block;
    height: 50px;
    float: left;
    -webkit-box-sizing: border-box;
    -webkit-perspective:1000px;
}
.main_nav:not(:last-child){
    border-right:1px solid white;
}
.main_nav>div{
    position: absolute;
    width:100%;
    height: 50px;
    line-height: 50px;
    left: 0px;
    top: 0px;
    padding-left:20px;
    padding-top: 2px;
    background:#282828;
    -webkit-box-sizing: border-box;
    -webkit-transform-origin: 50% 50% -25px;
    -webkit-transition: all 0.2s ease;
}
.main_nav>div:nth-of-type(1){
    color: #000000;
    background-color: #000000;
    -webkit-transform: rotateX(90deg);
}
.main_nav>div:nth-of-type(2){
    color: #808080;
    background-color: #ffffff;
    -webkit-transform: rotateX(0deg);
}
.nav_choice>div:nth-of-type(1){
    color: #fff;
    background-color: #000;
    -webkit-transform: rotateX(0deg);
}
.nav_choice>div:nth-of-type(2){
    color: #000000;
    background-color: #000000;
    -webkit-transform: rotateX(-90deg);
}
.main_nav:hover{
    cursor: pointer;
}
.main_nav:hover div:nth-of-type(1){
    color: #ffffff;
    -webkit-transform: rotateX(0deg);
}
.main_nav:hover div:nth-of-type(2){
    color: #000000;
    background-color: #000000;
    -webkit-transform: rotateX(-90deg);
}
/*-----------------------------section-------------------------*/
.videoBox{
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height: 100%;
    overflow: hidden;
}
.videoBox .float{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:1;
    background: rgba(40, 40, 40, 0.5);
}
video{
    position:absolute;
    z-index:0;
    left:-18%;
    top:-20%;
    width:136%;
}
.section1{
    position:absolute;
    left: 0px;
    top:0px;
    width: 100%;
    /*height:200px;*/
    z-index:3;
}
.section1 section{
    position: relative;
    height:150px;
}
.section1 section .jump{
    position:absolute;
    display:inline-block;
    top:180px;
    left:5%;
    width:0%;
    opacity:0;
    height: 4px;
    background:#fff;
}
.section1 section:nth-of-type(4) .jump{
    height:2px;
    background:hotpink;
}
.section1 section:nth-of-type(2) h3{
    left:15%;
    font-size:3em;
}
.section1 section h3{
    position:absolute;
    z-index:3;
    width:80%;
    left:20%;
    top:170px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
}
.section1 section h3 a{
    text-align: center;
    position: absolute;
    display: inline-block;
    top:-20px;
    text-decoration: none;
    color: #fff;
    width:250px;
    height: 60px;
    line-height: 60px;
    background:transparent;
    border:3px solid #fff;
    -webkit-transition:all .2s ease;
}
.section1 section h3 a:hover{
    background:#fff;
    color: #000;
    -webkit-transition:all .2s ease;
}
.section1 section:nth-of-type(2) h3:nth-of-type(1){
    top:125px;
}
.section1 section:nth-of-type(2) h3:nth-of-type(2){
    top:190px;
}
/*----------------Albums--------------------*/
.AlbumsModole{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background:#282828;
}
.AlbumsModole .content_box{
    position: relative;
    width:500px;
    height:666px;
    float:left;
    opacity: 0;
}
.backColor{
    display: inline-block;
    position:absolute;
    width:500px;
    height:666px;
}
.AlbumsModole .content_box h2,.AlbumsModole .content_box h1,.AlbumsModole .content_box h3,.AlbumsModole .content_box p,.AlbumsModole .content_box a{
    left: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    display: inline-block;
}
.AlbumsModole .content_box h2{
    color: hotpink;
    font-weight: 100;
    bottom: 250px;
}
.AlbumsModole .content_box h1{
    font-size: 2em;
    color: white;
    bottom: 200px;
}
.AlbumsModole .content_box h3{
    color: white;
    bottom: 150px;
}
.AlbumsModole .content_box p{
    color: gray;
    bottom: 100px;
}
.AlbumsModole .content_box a{
    text-decoration: none;
    color: white;
    bottom: 50px;
}

/*滚动条样式调整*/
.mCSB_scrollTools .mCSB_draggerRail{
    border-radius:0px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    border-radius:0px;
}
.mCS-inset.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-2-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar, .mCS-inset-3-dark.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar{
    height:11px;
    margin-top:3px;
    background:hotpink;
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer{
    margin: 0px;
}


